extends layout

block content
  include parts/header.html

  main.main
    iframe#frame(name="frame", src="http://phi-jp.github.io/runstant/release/beta/")

block footer
  script.
    var CATEGORY = "#{category}";
  script(src="/scripts/main.js")
