extends layout

block content
  header
    ul#nav-mobile.side-nav.fixed
      include parts/logo
      li
        a(href="#") About
      li
        a(href="#") Category
      li
        a(href="/category/javascript_tips") js tips
      li.ad
        | 広告

  main.main
    div Hello, world!

block footer
  script.
    var CATEGORY = "#{category}";
  script(src="/scripts/main.js")
