extends layout

block content
  header
    ul#nav-mobile.side-nav.fixed
      li.logo
        h1.right-align
          a#logo-container.brand-logo
            | learn
            span stant
        div.right-align
          a(href="http://twitter.com/phi_jp", target='_blank') @phi_jp
      li
        a(href="#") About
      li
        a(href="#") Category
  main.main
    div Hello, world!

block footer
  script.
    var CATEGORY = "#{category}";
  script(src="/scripts/main.js")
